header {
    background-color: red;
    height: 75px;
    width: 100%;
    display: flex;
}

.logo {
    background-color: pink;
    height: 75px;
    width: 10%;
}

.headerparent {
    display: flex;
}

.headerelement {
    margin: 10px;
    padding: 15px;
}

.headeranother {
    margin: 10px;
    padding: 15px;
    flex-direction: row-reverse;
}

.rank {
    margin: 10px;
    padding: 10px;
}

.dwt {
    margin: 0 auto;
    text-align: center;
    background-color: lightgreen;
}

.freem {
    text-align: center;
    padding: 10px; 
}

.maincont {
    height: 1800px;
    width: 100%;
    display: flex;
}

main {
    background-color: yellow;
    height: 1800px;
    width: 85%;
    float: right;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.menu {
    background-color: green;
    height: 1800px;
    width: 15%;
}

.game {
    background-color: red;
    height: 250px;
    width: 250px;
    display: inline-block;
    margin: 30px;
    text-align: center;
    
}



footer {
    background-color: blue;
    height: 300px;
    width: 100%;
}

